/* .myDiv {
    background-color: red;
    background: radial-gradient(blue, red);
    width: 50px;
    height: 50px;
    position: relative;
    left: 0px;
    transition: all 2s ease-in;
    animation: myFrame 5s ease;
} */

/* @keyframes myFrame {
    0% {
        left: 0px;
    }

    100% {
        left: 50px;
    }
}  */

/* .myDiv:hover {
    height: 200px;
    width: 200px;
    background-color: green;
    transform: scale(2);
    background: ;
} */

.myDiv {
    background-color: blue;
    height: 50px;
    width: 50px;
    position: relative;
    /* transition: height 2s ease-out, width 1s ease-out ; */
    animation: myFrame 3s infinite;
}

@keyframes myFrame {
    0% {
        left: 0px;
    }

    50% {
        left: 50px;
    }

    100% {
        left: 200px;
    }
}
